<div class="container">
  <div class="row">
    <div class="col text-center">
      <p id="notice"><%= notice %></p>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-9">
      <div class="row">
        <div class="col">
          <h1>Teams</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 team-holder">
          Jackson's Requested Players
        </div>
      </div>

      <% @teams.each do |team| %>
        <div class="row">
          <div class="col-sm-12 team-holder" data-toggle="collapse" href="#collapseExample<%= team.name.gsub(/\s+/, "") %>" role="button" aria-expanded="false" aria-controls="collapseExample<%= team.name.gsub(/\s+/, "") %>">
            <%= team.name %>
          </div>
          <div class="col-sm-12 collapse" id="collapseExample<%= team.name.gsub(/\s+/, "") %>">
            <% team.players.each do |player| %>
              <div class="row">
                <div class="col">
                  <%= player.name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>

    <div class="col-sm-3">
      <p>This is where filters go</p>
    </div>
  </div>

  <div class="row" style="margin-bottom:5em;">
    <div class="col-sm-3">
      <%= link_to 'Populate The Website!', populate_all_website_data_path, class: "btn btn-primary", method: :post %>
    </div>

    <div class="col-sm-3">
      <%= link_to 'Depopulate The Website!', delete_all_website_data_path, class: "btn btn-danger", method: :delete %>
    </div>
  </div>
</div>
