<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <p id="notice"><%= notice %></p>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <h1>Teams</h1>
    </div>
  </div>

  <% @teams.each do |team| %>
    <div class="row">
      <div class="col">
        <%= team.name %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4 text-center">
      <%= button_to 'Create all the Teams!', create_all_teams_path, class: "btn btn-primary"  %>
    </div>

    <div class="col-sm-4 text-center">
      <%= button_to 'Delete all the Teams!', delete_all_teams_path, class: "btn btn-warning"  %>
    </div>

    <div class="col-sm-4 text-center">
      <%= button_to 'Delete all the Players!', delete_all_players_path, class: "btn btn-warning"  %>
    </div>
  </div>
</div>
