<div class="container">
  <div class="row">
    <div class="col text-center">
      <p id="notice"><%= notice %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h1>Teams</h1>
    </div>
    <div class="col-sm-3">
      <h3>Filter</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 team-holder">
      Jackson's Requested Players
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      Player Name
    </div>
    <div class="col-md-1">
      Season
    </div>
    <div class="col-md-1">
      Games
    </div>
    <div class="col-md-1">
      Shots
    </div>
    <div class="col-md-1">
      Goals
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <%= @players.where(name: "Connor McDavid").first.name %>
    </div>

  </div>
  <div class="row">
    Reeves
  </div>
  <div class="row">
    Wilson
  </div>
  <div class="row">
    Rask
  </div>
  <div class="row">
    Burns
  </div>

  <% @teams.each do |team| %>
    <div class="row">
      <div class="col-sm-12 team-holder">
        <%= team.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        Player Name
      </div>
      <div class="col-md-1">
        Season
      </div>
      <div class="col-md-1">
        Games
      </div>
      <div class="col-md-1">
        Shots
      </div>
      <div class="col-md-1">
        Goals
      </div>
    </div>
    <% team.players.each do |player| %>
      <div class="row">
        <div class="col-md-2">
          <%= player.name %>
        </div>
        <% player.skater_stats.each do |stat| %>
          <% unless stat == [] %>
            <div class="col-md-1">
              <%= stat.season_year %>
            </div>
            <div class="col-md-1">
              <%= stat.games %>
            </div>
            <div class="col-md-1">
              <%= stat.shots %>
            </div>
            <div class="col-md-1">
              <%= stat.goals %>
            </div>
          <% end %>
        <% end %>
      </div>
      <% end %>
    <% end %>

  <div class="row" style="margin-bottom:5em;">
    <div class="col-sm-3">
      <%= link_to 'Populate The Website!', populate_all_website_data_path, class: "btn btn-primary", method: :post %>
    </div>

    <div class="col-sm-3">
      <%= link_to 'Depopulate The Website!', delete_all_website_data_path, class: "btn btn-danger", method: :delete %>
    </div>
  </div>
</div>
