<div class="container">
  <div class="row">
    <div class="col text-center">
      <p id="notice"><%= notice %></p>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-9">
      <div class="row">
        <div class="col">
          <h1>Teams</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 team-holder">
          Jackson's Requested Players
        </div>
      </div>

      <% @teams.each do |team| %>
        <div class="row">
          <div class="col-sm-12 team-holder" data-toggle="collapse" href="#collapseExample<%= team.name.gsub(/\s+/, "") %>" role="button" aria-expanded="false" aria-controls="collapseExample<%= team.name.gsub(/\s+/, "") %>">
            <%= team.name %>
          </div>
          <div class="col-sm-12 collapse" id="collapseExample<%= team.name.gsub(/\s+/, "") %>">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis obcaecati nulla placeat enim provident itaque et rerum omnis vitae nam illum consequatur accusantium, voluptates voluptatem fugit commodi sunt porro laboriosam?
          </div>
        </div>
      <% end %>

    </div>

    <div class="col-sm-3">
      <p>This is where filters go</p>
    </div>
  </div>





  <div class="row">
    <div class="col-sm-4 text-center">
      <%= button_to 'Create all the Teams!', create_all_teams_path, class: "btn btn-primary"  %>
    </div>

    <div class="col-sm-4 text-center">
      <%= button_to 'Delete all the Teams!', delete_all_teams_path, class: "btn btn-warning"  %>
    </div>

    <div class="col-sm-4 text-center">
      <%= button_to 'Delete all the Players!', delete_all_players_path, class: "btn btn-warning"  %>
    </div>
  </div>
</div>
